<div class="row">
    <div class="col-lg-6 col-lg-offset-0">
      <div>
        <div>
          <div class="panel panel-default">
             <div class="panel-body">
               <h4 class="text-center">AngularJS - Custom Service</h4>
               <ul class="list">
                 <li>{{customServiceCtrl.page.data.example1}}</li>
                 <li>{{customServiceCtrl.page.data.example2}}</li>
                 <li>{{customServiceCtrl.page.data.example3}}</li>
               </ul>
            </div>
          </div>
      </div>
    </div>
  </div>