<div class="row">
    <div class="col-lg-8 col-lg-offset-0">
      <div>
        <div>
          <div class="panel panel-default">
             <div class="panel-body">
               <h4 class="text-center">AngularJS - Interpolate(Evaluate angular expressions)</h4>
               <ul class="list">
                <li>
                  <pre>
                  $scope.exampleName = 'Interpolate Service';
                  var string = 'My Name is {{exampleName}}';
                  $interpolate(string)($scope);
                  </pre>
                  </li>
                 <li>{{interpolateCtrl.page.data.result}}</li>
               </ul>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-0">
      <div>
        <div>
          <div class="panel panel-default">
             <div class="panel-body">
               <h4 class="text-center">AngularJS - Parse(Used as a getter/setter for single variables)</h4>
               <ul class="list">
                <li>
                  <pre>
                  $scope.exampleName2 = 'Parse Service';
                  var string = 'My Name is {{exampleName2}}';
                  $parse('exampleName2').assign($scope,'Parse Service Success');
                  </pre>
                  </li>
                 <li>{{exampleName2}}</li>
               </ul>
            </div>
          </div>
      </div>
    </div>
</div>
</div>