<a class="nav-index-group-heading">Module</a>
<ul class="aside-nav">
  <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.customfilters')">Custom Filters</a>
   </li>
   <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.customFactory')">Custom Factory</a>
  </li>
  <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.customService')">Custom Service</a>
  </li>
  <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.defaultScopeDirective')">Default Scope('scope:false') Directive</a>
  </li>
  <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.inheritScopeDirective')">Inherit Scope('scope:true') Directive</a>
  </li>
  <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.isolatedScopeDirective')">Isolated Scope('scope:{}') Directive</a>
  </li>
  <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.interpolate')">Interpolate,Parse Services</a>
  </li>

  <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.sceService')">Strict Contextual Escaping($sce)</a>
  </li>
  <li  class="nav-index-listing">
    <a ng-click = "navigationCtrl.navigate('modules.portalHttpInterceptor')">Interceptors</a>
  </li>
</ul>