<!DOCTYPE html>
<html ng-app = "cellGameApp" ng-strict-di>
	<head lang="en">
	 	<meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <title>{{'Cell Game' | translate }}</title>
	    <link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
	<body ng-cloak class = "cellGameWrapper" ng-controller = "cellGameController as ctrl">

		<section class="game-wrapper">
	<div class="params">
		<div class="grid-size-wrapper">
			<label>{{'Enter grid size (n):' | translate}}</label>
			<input type="number" ng-model="ctrl.page.data.gridSize" class="grid-size">
		</div>
		<div class="n-wrapper">
			<label>{{'Enter Y:' | translate}}</label>
			<input type="number" ng-model="ctrl.page.data.uncolored" class="n">
		</div>
		<!--<div class="chances-wrapper">
			<label>{{'How many chances?:' | translate}}</label>
			<input type="number" ng-model="ctrl.page.data.chances" class="chances" ng-disabled = "true">
		</div>-->
	</div>
	<div class="time-claim-wrapper">
		<label>{{'How many seconds will you take? (Z)' | translate}}</label>
		<input type="number" ng-model="ctrl.page.data.claim" class="time-claim"  min="1" max="5" prevent-typing-greater>
	</div>
	<div class="countdown-label">{{'Countdown:' | translate}}</div>
	<div class="countdown-wrapper">
		<div class="time-ss">{{ctrl.Math.floor(ctrl.page.data.timeSpend/1000)}}</div>
	</div>
	<div class="grid-wrapper marginB10">
			<div ng-repeat="row in [] | range:ctrl.page.data.gridSize" class="cell-row" ng-style="ctrl.getRowStyle($index)">
				<div ng-repeat="col in [] | range:ctrl.page.data.gridSize" class="cell" ng-style="ctrl.getCellStyle($index, $parent.$index)" ng-click="ctrl.discard($index, $parent.$index)"></div>
			</div>
	</div>
	<div class="success-message" ng-show="ctrl.page.data.success">
		<div>You completed the game with <span ng-show="ctrl.Math.floor(ctrl.page.data.timeSpend/1000)">{{ctrl.Math.floor(ctrl.page.data.timeSpend/1000)}}s and</span> Congrats! You won the game!</div>
		<div class="close-btn-wrapper"><button class="btn" ng-click="ctrl.page.data.success = null; ctrl.reset();">Close</button></div>
	</div>
	<div class="failure-message" ng-show="ctrl.page.data.failure">
		<pre>Oh no..! you did not make it..!</pre>
		<pre ng-show="ctrl.page.data.chances == 0">You lost the game!</pre>
		<pre ng-show="ctrl.page.data.chances > 0">You can try {{ctrl.page.data.chances || 'no'}} more time<span ng-show="ctrl.page.data.chances > 1">s</span></pre>
		<div class="failure-close-btn-wrapper">
			<button class="btn" ng-click="ctrl.page.data.failure=null; ctrl.reset();">Close</button>
		</div>
	</div>
</section>

		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-animate.min.js"></script>
		<script src="lib/angular-sanitize.min.js"></script>
		<script src="lib/angular-translate.min.js"></script>
		<script type="text/javascript" src = 'app/app.js'></script>
		<script type="text/javascript" src = 'app/filters/rangeFilter.js'></script>
		<script type="text/javascript" src= 'app/directives/preventTypingGreater.js'></script>
		<script type="text/javascript" src= 'app/controllers/cellGameController.js'></script>
	</body>
	
</html>