<section class="navbar navbar-inverse docs-navbar-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-9 header-branding">
				<a class="brand navbar-brand" href="">
				<img width="117" height="30" class="logo" alt="Link to Angular JS Homepage" ng-src="img/angularjs-for-header-only.svg">
				</a>
			</div>
		</div>
	</div>
</section>
<section class="sup-header">
<div class="container main-grid main-header-grid">
  <div class="grid-left">
    <div class="picker version-picker">
      
    </div>
  </div>
  <div class="grid-right">
    <ul class="nav-breadcrumb">
      <li class="nav-breadcrumb-entry naked-list">
        
      </li>
    </ul>
  </div>
</div>
</section>