<div class = "container">
	<div class = "row" ng-controller = "AngularUIFormCtrl">
		<div class = "col-md-12">
			<!--form novalidate class = "form form-horizontal" angular-form-validation = "true" name = "angularUIForm" angular-form-submit = "submit" -->
			<form novalidate class = "form form-horizontal" angular-form-validation = "true" name = "angularUIForm" angular-ajax-form-submit = "submit" method = 'POST' action = '/api/services/workflow/section/page001' enctype = 'application/x-www-form-urlencoded'>
				<div class = "row">
					<div class = "col-md-4">
						<div class = "form-group">
							<label for = "inputFreeText">Input Free Text</label>
							<div class="controls">
								<angular-form-element-validation>
									<input type="text" id = "inputFreeText" name = "inputFreeText" class = "form-control" ng-required = "true" ng-model = "page.data.inputFreeText"/>
									<div hidden="true" class="_popoverContent" ng-messages="angularUIForm['inputFreeText'].$error">
										<span ng-message="required" class="inlineError">
												InputText is Required
										</span>
									</div>
								</angular-form-element-validation>
							</div>
						</div>
					</div>
					<div class = "col-md-2"></div>
					<div class = "col-md-4">
						<div class = "form-group">
							<label for = "inputFreeText2">Input Pattern Text</label>
							<div class="controls">
								<angular-form-element-validation>
									<input type="text" id = "inputFreeText2" name = "inputFreeText2" class = "form-control" ng-required = "true" ng-model = "page.data.inputFreeText2" ng-pattern="/^(\d)+$/"/>
									<div hidden="true" class="_popoverContent" ng-messages="angularUIForm['inputFreeText2'].$error">
										<span ng-message="required" class="inlineError">
												InputText2 is Required
										</span>
										<span ng-message="pattern" class="inlineError">
												InputText2 should Numeric
										</span>
									</div>
								</angular-form-element-validation>
							</div>
						</div>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-4">
							<div class = "form-group">
							<label for = "selectBox">Select Box</label>
							<div class="controls">
								<angular-form-element-validation>
									<select id = "selectBox" name = "selectBox" class = "form-control" ng-required = "true" ng-model = "page.data.selectBox" angular-select-menu = "true">
										<option value>Select</option>
										<option ng-repeat = "option in page.data.options" value = "option.value" ng-selected = "page.data.selectBox === option.value">{{option.name}}</option>
									</select>
									<div hidden="true" class="_popoverContent" ng-messages="angularUIForm['selectBox'].$error">
										<span ng-message="required" class="inlineError">
												selectBox is Required
										</span>
									</div>
								</angular-form-element-validation>
							</div>
						</div>
					</div>
					<div class = "col-md-2"></div>
					<div class = "col-md-4">
						<div class = "form-group">
							<label for = "inputFreeText2">Date Input</label>
							<div class="controls">
								<angular-form-element-validation>
									<input type="text" id = "dateInput" name = "dateInput" class = "form-control" ng-required = "true" ng-model = "page.data.dateInput" ng-init="angularDateOptions={showIcon:true,minDate: 0,yearRange: '-0:+100'}" angular-date-picker = "true" angular-date-options = "angularDateOptions"/>
									<div hidden="true" class="_popoverContent" ng-messages="angularUIForm['dateInput'].$error">
										<span ng-message="required" class="inlineError">
												Date is Required
										</span>
									</div>
								</angular-form-element-validation>
								
							</div>
						</div>
					</div>
				</div>
				<div class = "row">
					<!--button type="button" class="btn btn-primary" ng-click = "angularUIFormSubmit(angularUIForm)">Submit</button> -->
					<button class="btn btn-primary" type = "submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>